@model int
@{
    ViewData["Title"] = "Info";
}
<div id="item__info">
	<div class="container">
			<div class="row pt-5">
				<div class="col-12 col-md-6 text-center">
					<img style="height:500px;width:396px" class="img-fluid main-img-item rounded"  :src="mainImageUrl" alt="123" />
					<div class="row mt-2 justify-content-center">
						<div class="col-3 text-center" v-for="(image, index) in item.itemImagesLinks">
							<img v-on:click="imageClick(index)"  class="img-fluid second__imd-item rounded"  :src="image" alt="" />
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 mt-4 mt-md-0 rounded" style="background:#efefef">
					<h1>{{item.name.toUpperCase()}}</h1>
					<p>Номер продукта: {{item.id}}</p>
					<hr />
					<div class="col-12">
						<h4 class="item__price mt-1 pb-2 pb-md-0">
							{{ item.price | moneyFormat}} руб
						</h4>
					</div>
					<select  v-on:change="changeSize($event)" class="mt-3 selet_size" style="width:100%">
						<template v-for="(size,index) in Object.keys(item.sizesDictionary)">
							<option :value="index" v-if="Object.values(item.sizesDictionary)[index] != 0">{{size}} &nbsp; (ОСТАЛОСЬ: {{Object.values(item.sizesDictionary)[index]}})</option>
						</template>
						
					</select>
					<div class="row mt-2 pl-3 pr-3 align-items-center">
						<div class="col-12 col-lg-3 d-flex align-items-center  text-center" style="background:#949494; width: auto">
								<p>Кол-во</p>
								<select class="selet_size ml-3">
									<template v-for="i in sizeAvailable">
										<option>{{i}}</option>
									</template>
									
								</select>
						</div>
						<div class="col-12 mt-sm-2 mt-md-0 mr-auto col-md col-lg d-flex justify-content-center align-items-center">
							<a class="addToCard_a">
								<i class="fa fa-shopping-cart"></i>
								ДОБАВИТЬ В КОРЗИНУ
							</a>
							<a class="a_buyyandex ml-1 d-flex align-items-center">
								КУПИТЬ ЧЕРЕЗ
								<i class="ml-1 fab fa-google-wallet" style="font-size: 15px;"></i>
							</a>
						</div>
					</div>
					<hr />
					<div class="row align-items-center">
						<div class="col-5 text-success d-flex align-items-center ml-4">
							<i class="fa fa-check" aria-hidden="true"></i>
							<p class="ml-4">Возврат</p>
						</div>
						<div class="col-5  d-flex align-items-center ml-4">
							<i class="fa fa-car" aria-hidden="true"></i>
							<p class="ml-4">Удобная доставка</p>
						</div>
						<div class="col-5 d-flex mt-4 align-items-center ml-4">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<p class="ml-4">+7 915 946 96 99</p>
						</div>
						<div class="col-5 d-flex mt-4 align-items-center ml-4">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<p class="ml-4">Уведомления на почту</p>
						</div>
					</div>
					<hr />
					<div class="row mt-5 mt-md-5">
						<div class="col-12">
							<h3>ПРЕИМУЩЕСТВА</h3>
							<hr />
						</div>
						<div v-for="preim in item.advantagesArray" class="col-12  align-items-center">
							<div class="d-flex align-items-center">
								<i class="fa fa-check text-success" aria-hidden="true"></i>
								<h5 class="ml-3 mt-1">{{ preim }}</h5>
							</div>
							
							<hr/>
						</div>
						
					</div>
					<div class="row mt-5">
						<div class="col-12">
							<h3>ОПИСАНИЕ</h3>
							<hr />
						</div>
						<div class="col-12">
							<h5>{{item.about}}</h5>
							<hr />
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
@section Scripts{ 
<script type="text/javascript">
	var item__main = new Vue({
		el: '#item__info',
		data: {
			item: null,
			mainImageUrl: '',
			sizeAvailable: 0
			
		},
		mounted() {
			var data = {
				id: @Model,
				
			};

			$.ajax({
				type: 'GET',
				url: '/Shop/GetItemInShop',
				data: data,
				success: (res) => {
					console.log(res);
					this.item = res;
					this.mainImageUrl = res.itemImagesLinks[0];
					console.log(this.item);
				}
				
			});
		},
		methods: {
			imageClick: function (index) {
				this.mainImageUrl = this.item.itemImagesLinks[index];
			},
			changeSize: function (event) {
				this.sizeAvailable = Object.values(this.item.sizesDictionary)[event.target.value];
			}

		}
	});
</script>
}

